<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:amq="http://activemq.apache.org/schema/core"
xmlns:jms="http://www.springframework.org/schema/jms" xmlns:context="http://www.springframework.org/schema/context"
xsi:schemaLocation="
        http://www.springframework.org/schema/beans 
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context 
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/jms 
        http://www.springframework.org/schema/jms/spring-jms.xsd
        http://activemq.apache.org/schema/core 
        http://activemq.apache.org/schema/core/activemq-core.xsd">
		
		<!-- 第三方ActionMQ工厂  ConnectionFactory-->
    	<bean id="activeMQConnectionFactory" class="org.apache.activemq.ActiveMQConnectionFactory">
    		<property name="brokerURL" value="${activemq.brokerURL}"/>
    		<property name="userName" value="${activemq.userName}"/>
    		<property name="password" value="${activemq.password}"/>
    	</bean>   
    	
    	<!-- Spring真正的用于管理ActiveMQ的ConnectionFactory的ConnectionFactory -->
    	<bean id="cachingConnectionFactory" class="org.springframework.jms.connection.CachingConnectionFactory">
    		<property name="targetConnectionFactory" ref="activeMQConnectionFactory"/>
    		<property name="sessionCacheSize" value="${activemq.sessionCacheSize}"/>
    	</bean>	
    	
    	<!-- 木的地(Queue) -->
    	<bean id="msgQueue" class="org.apache.activemq.command.ActiveMQQueue">
    		<constructor-arg>
    			<value>${activemq.queueName}</value>
    		</constructor-arg>
    	</bean>
    	
    	<!-- 配置生产者 -->
    	<!-- Spring提供的JMS工具类，它可以进行消息发送、接收等,
    		1.默认持久化ActiveMQ服务器,可根据自己需求持久化到数据库
    		2.ACK默认自动提交	
    	 -->
    	<bean id="jmsTemplate" class="org.springframework.jms.core.JmsTemplate">
    		<property name="connectionFactory" ref="cachingConnectionFactory"/>
    		<property name="defaultDestination" ref="msgQueue"/>
    	</bean>
    	
    	<!-- 配置消费者 -->
    	<!-- 自定义监听,如果是自动接收信息则打开此注释,否则运行定时任务 -->
    	<bean id="zamMessageListener" class="com.wjt.zam.modules.amq.listener.ZamMessageListener"/>
    	
    	<!-- Spring将Connection、ActiveMQQueue、自定义监听注入jms模板,当使用模板管理消息时,监听即相当于消费者,业务也都在监听类中处理 -->
    	<bean class="org.springframework.jms.listener.DefaultMessageListenerContainer">
    		<property name="destination" ref="msgQueue"/>
    		<property name="messageListener" ref="zamMessageListener"/>
    		<property name="connectionFactory" ref="cachingConnectionFactory"/>
    	</bean>
    	
</beans>